<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance" 
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd ">

   <!-- Initialization for data source -->
   <bean id="dataSource" 
      class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name = "driverClassName" value = "com.mysql.jdbc.Driver"/>
      <property name = "url" value = "jdbc:mysql://localhost:3306/instagram"/>
      <property name = "username" value = "root"/>
      <property name = "password" value = "caio160907!"/>
   </bean>

   
   <bean id = "ContaDAO" 
      class = "com.carlosfilipe.zup.bootcamp.fase3.dao.ContaDAO">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
   <bean id = "FotoDAO" 
      class = "com.carlosfilipe.zup.bootcamp.fase3.dao.FotoDAO">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>   
   <bean id = "ComentarioDAO" 
      class = "com.carlosfilipe.zup.bootcamp.fase3.dao.ComentarioDAO">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>   
   <bean id = "RespostaDAO" 
      class = "com.carlosfilipe.zup.bootcamp.fase3.dao.RespostaDAO">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
   <bean id = "PerfilDAO" 
      class = "com.carlosfilipe.zup.bootcamp.fase3.dao.PerfilDAO">
      <property name = "dataSource" ref = "dataSource" />    
   </bean>
</beans>